################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/C#/Schulprojekt/ClientS/.vs/Client/FileContentIndex/af276126-076d-4e41-b168-f83656612dfe.vsidx
