################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/C#/Schulprojekt/ClientS/.vs/Client/FileContentIndex/af276126-076d-4e41-b168-f83656612dfe.vsidx
/C#/Schulprojekt/ClientS/.vs/Client/FileContentIndex/d0fd0811-de80-44b8-8653-1e8506177d1d.vsidx
